<div class="container">
	<section class="button-header">
		<h4>A Factory Pattern Demo</h4>
		<p>
			This module uses a service (singleton) that instantiates instances of IFormControl transparently to a client.
			The 'FormControlComponent' is the entry point for a client component, that allows a client to
			simply put this control in their view, and hook up inputs and outputs to the component. The FormControlComponent
			abstracts all the functionality of the factory away, and based on the 'control' instance, the correct
			concrete of an IFormControl is instantiated.
		</p>
		<button (click)="addControl('TextControl')">Add Text Control</button>&nbsp;
		<button (click)="addControl('NumericControl')">Add Numeric Control</button>&nbsp;
		<button (click)="addControl('DateControl')">Add Date Control</button>&nbsp;
		<button (click)="focusControl(0)">Focus Control #1</button>&nbsp;
		<button (click)="focusControl(1)">Focus Control #2</button>&nbsp;
		<button (click)="focusControl(2)">Focus Control #3</button>&nbsp;
	</section>

	<app-form-control *ngFor="let control of controls" [control]="control"></app-form-control>
</div>
